*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: auto;
    width: 90%;
}

.logo img{
    height: 50px;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

nav{
    margin: 40px 0;
}
nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}

nav li a{
    color: #858585;
    text-decoration: none;
}

nav li a:hover{
    text-decoration: underline;
}

.banner .testo-banner{
    position: absolute;
    width: 50%;
    bottom: 50px;
    left: 40px;
    color: #FFF;
}

.banner .testo-banner h3 {
    font-weight: normal;
    font-size: 2em;
}

.banner{
    background-image: url(../img/banner.jpg);
    height: 450px;
    position: relative;
   
    border-radius: 10px;
    background-position: center;
    margin-bottom: 30px;
}

.testo-banner{
    position: absolute;
    color: black;
    bottom: 60px;
    left: 40px;
}

h1{
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 35px;
}

h6{
    font-size: 1em;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 50px;
}

p{
    color: gray;
}

.testo{
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 50px;
}

.text-main{
    color: grey;
    margin-top: 0px;
    font-size: 15px;
}

.main-container{
    position: relative;
    top: 20px;
}

.immagini{
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-bottom: 15px;
    margin-top: 20px;
}

.colsx .immagini{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    border-radius: 5px;
}

.coldx .immagini{
    background-image: url(../img/img-3.jpg);
    background-position: center;
    border-radius: 5px;

}

.colcx .immagini{
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    border-radius: 5px;
}

.colsx{
    width: 20%;
    float: left;
}

.coldx{
    width: 20%;
    position: relative;
    float: right;
}

.colcx{
    margin: 0 5%;
    width: 50%;
    float: left;
}

#colsx, #colcx, #coldx{
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.main-container::after{
    content: "";
    display: table;
    clear: both;
}
 
footer{
    text-align: center;
    margin-top: 50px;
}

footer::after{
    content: ' \2665';
    color: red;
}
    